*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-color: #181824;
    font-family: 'Josefin Sans';
}

.mainContainer{
    display: grid;
    width:40vw;
    margin: 0 auto;
    padding-top: 7rem;    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    cursor: pointer;
}

.logo h1{
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.add_todo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
}

.fa-plus{
    position: absolute;
    cursor: pointer;
    opacity: 70%;
    color:hsl(236, 33%, 92%);
    left:0.5rem;
}

.add_todo input{
    font-family:'Josefin Sans';
    padding-left: 2rem;
    width: 100%;
    height: 4rem;
    background-color: #25273c;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 400;
    color:  hsl(236, 33%, 92%);
}

.add_todo svg{
    height: 1rem;
    position: absolute;
    cursor: pointer;
    fill: hsl(236, 33%, 92%);
    right: -1rem;
    display: none;
}

#all_tasks{
    width: 40vw;
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    background-color: #25273c;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0px 10px 14px 5px rgba(34, 60, 80, 0.2);
}
#active_tasks{
    width: 40vw;
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    background-color: #25273c;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0px 10px 14px 5px rgba(34, 60, 80, 0.2);
}

#completed_tasks{
    width: 40vw;
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    margin-top: 1rem;
    background-color: #25273c;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 0px 10px 14px 5px rgba(34, 60, 80, 0.2);
}

.check_todo{
    display: flex;
    gap:0.5rem;
    align-items: center;
    padding-left: 0.5rem;
}

.check_todo p{
    word-wrap: break-word;
    width: 85%;
}

.todo ul li:first-child{
    width: 87%;
}

.circleCheck{
    width: 2rem;
    height: 2rem;
    border: 1px solid hsl(234, 11%, 52%);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 0.2rem;
}

.checkTrue{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
 background: hsl(237, 14%, 26%);
 border-radius: 10px;
}
::-webkit-scrollbar-thumb{
 background: rgb(206, 6, 206);
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover{
 background: rgb(206, 6, 206);
 transition: 0.3s;
}

.empty p{
    color:hsl(236, 33%, 92%) ;
    text-align: center;
    padding-top: 5rem;
}


.containerTaskDark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    color: hsl(236, 33%, 92%);
    border-bottom: 1px solid hsl(234, 11%, 52%);
    cursor: pointer;
}



.containerTaskLight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    color: hsl(237, 14%, 26%);
    border-bottom: 1px solid hsl(234, 11%, 52%);
    cursor: pointer;
}








.containerTaskImg{
    padding-right: 1.5rem;
    cursor: pointer;
}

.footer{
    display: flex;
    background-color:#25273c;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding:1rem 2rem 1rem 2rem;
    color:hsl(237, 14%, 26%);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0px 10px 14px 5px rgba(34, 60, 80, 0.2);
}

.routes ul{
    display: flex;
    list-style-type: none;
    gap:1rem;
}
.routes ul li a{
    text-decoration: none;
}
.routes ul li a:hover{
    color:#5778c9;
    transition: 0.3s;
}
.active{
    color:#5778c9;
    border-bottom: 1px solid #5778c9;
}


.footerClear:hover{
    color:#1d43a5;
    transition: 0.3s;
    cursor: pointer;
}


/*mobile view */
@media only screen and (max-width : 1200px){
    body{
        background-image: url(images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-size:100%;
        background-color: #181824;
        
    }

    .mainContainer{
        display: grid;
        grid-template-columns: 1fr;
        width:95vw;
        margin: 0 auto;
        padding-top: 1.5rem;    
    }

    #all_tasks{
        width: 95vw;
        height: 50vh;
    }

    .check_todo p{
        width: 85%;
    }

    .todo ul li:first-child{
        width: 87%;
    }

    #active_tasks{
        width: 95vw;
        height: 50vh;
    }

    #completed_tasks{
        width: 95vw;
        height: 50vh;
    }



    .footer{
        flex-direction: column;
        gap: 1rem;
        height: 7rem;
    }
   
    
}